*
!.gitignore
!alacritty/
!alacritty/*
!fish/
!fish/config.fish
!fish/fish_plugins
!ipython/
!ipython/profile_default/
!ipython/profile_default/ipython_config.py
!nvim/
!nvim/*
!nvim/lua/*
!omf/
!omf/*
!tmux/
!tmux/*
!nixpkgs
!nixpkgs/*
!direnv
!direnv/*
