*
!.gitignore
!nvim/
!nvim/*
!alacritty/
!alacritty/*
!tmux/
!tmux/*
!fish/
!fish/config.fish
!fish/functions/
!fish/functions/tmux.fish
!ipython/
!ipython/profile_default/
!ipython/profile_default/ipython_config.py
